<!DOCTYPE html>
<html>
  <body>
  <h1>Welcome to Stockify!</h1>

  <p>Hello, <%=@user.firstname.upcase_first%></p>
  <br />
  <br />
  <p>Thank you for signing up for a stockify account.<p>
  <br />
  <p>Kindly click the link below to activate your stockify account. 
  <br />
  <p><%= link_to "Activate Email", @activation_url %></p>
  <br />
  <p>Warm regards,</p>
  <br />
  <p>Stockify Team</p>
  </body>
</html>