<!DOCTYPE html>
<html>
  <body>
  <h1>Reset your Stockify Password</h1>

  <p>Hello, <%=@user.firstname.upcase_first%></p>
  <br />
  <br />
  <p>You have requested to reset your password.<p>
  <br />
  <p>Kindly click the link below to reset your stockify account password. 
  <br />
  <p><%= link_to "Reset Password", @password_reset_url %></p>
  <br />
  <p>Warm regards,</p>
  <br />
  <p>Stockify Team</p>
  </body>
</html>