<!DOCTYPE html>
<html>
  <body>
  <h1>Welcome to Stockify!</h1>

  <p>Hello, <%=@user.firstname.upcase_first%></p>
  <br />
  <br />
  <p>Thank you for signing up for a stockify account.<p>
  <br />
  <p>We are currently reviewing your application. 
  <br />
  <p>Once approved an activation email will be sent to your email account<p>
  <br />
  <p>Warm regards,</p>
  <br />
  <p>Stockify Team</p>
  </body>
</html>